*.tar.xz
src/*.o
src/gotty
Makefile.in
Makefile
aclocal.m4
autom4te.cache/
configure
compile
depcomp
install-sh
missing
src/Makefile.in
src/Makefile
config.log
config.status
src/.deps/
src/include/config.h
src/include/config.h.in
src/include/config.h.in~
src/include/stamp-h1
*.swp
/gotty-*
