Source: gotty
Section: comm
Priority: optional
Maintainer: Jesper Larsen <knorr.jesper@gmail.com>
Build-Depends: debhelper (>= 9.0.0), autotools-dev,
 bash-completion
Standards-Version: 3.9.5
Homepage: http://gotty.io

Package: gotty
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Simple TTY terminal application
 Go TTY or "gotty" is a really simple TTY terminal application
 which features a simple commandline interface to easily connect
 to TTY devices for basic input/output.
